@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-modern {
    @apply bg-blue-600;
  }

  .dark .bg-gradient-modern {
    @apply bg-slate-900;
  }

  /* Custom Scrollbar */
  /* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* slate-300 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* slate-400 */
}

.dark ::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #475569; /* slate-600 */
}

/* Scrollbar Hide Utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
}